/* Write your CSS code here */
.about-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
}
.about-img {
  width: 150px;
}
.about-heading {
  color: #551e53;
  font-size: 30px;
  font-weight: 500;
}
.about-description {
  color: #555555;
  font-size: 20px;
  font-weight: 400;
}
