/* Write your CSS code here */
.contact-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.contact-img {
  width: 150px;
}
.contact-heading {
  color: #551e53;
  font-size: 30px;
  font-weight: 500;
}
