* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.app-bg-container {
  width: 90%;
  max-width: 900px;
  border: 4px solid #6d396b;
  border-radius: 10px;
  min-height: 90vh;
}
